@import "../../../../styles/colors.modules.scss";

.ctaSection {
  background-color: $lightRed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 30px;
}

.imgCta {
  width: 20px;
}