@import "../../../../styles/colors.modules.scss";

.ctaSection {
  background-color: $lightRed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 30px;
}

.imgCta {
  width: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.imgLogoNav {
  width: 180px;
}

.navBtn {
  margin: 0px 5px;
  border-color: transparent;
  color: $lightGray;
  &:hover {
    border-color: $lightRed;
    color: #fff;
    background-color: transparent;
  }
}

@media (max-width: 467px) {
  .nav {
    justify-content: center;
  }

  .navBtn {
    margin: 16px;
    border-color: #fff;
    font-size: 14px;
  }

  .ctaSection {
    gap: 10px;
  }
}

@media (max-width: 373px) {
  .ctaSection {
    text-align: center;
  }
  .imgCta {
    margin: 0px 8px;
  }
}